html{
    font-size: 62.5%;/* This make all relative units equlal to 10 px, REM-relative unit, 1 rem = 10 px*/
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', 'Permanent Marker', 'Roboto';
}

.utility-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner{
    text-align: center;
    margin: 0 auto;
    background-color: paleturquoise;
    color: white;
    height: 20vh; /* viewport height */
    font-size: 4rem;
    text-transform: uppercase;
}

.user-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#movie-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    font-size: 2.5rem;
}

.movie-form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 10vh;

}

.text-box{
    font-size: 2.5rem;
}

.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 1rem;
}

.display-movie{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    font-size: 2.5rem;
    width: 100%;
}



.btn-blue{
    background-color: paleturquoise;
}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4.0rem;
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1.0rem 2rem rgba(0,0,0.2);
    
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
}